{% extends 'main/base.html' %}
{% load main_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Выбрать страну
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="list-group">
                        {% for country in countries %}
                            {% if country.book__count > 0 %}
                                {% if country.slug == country_selected %}
                                    <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                                        {{ country }}
                                    </a>
                                {% else %}
                                    <a href="{{ country.get_absolute_url_authors }}" class="list-group-item list-group-item-action">{{ country }}</a>
                                {% endif %}
                            {% else %}
                                <a class="list-group-item list-group-item-action disabled" aria-disabled="true">{{ country }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            {% for author in authors_list %}
                <div class="row justify-content-center">
                    <div class="card mb-4 p-0" style="max-width: 80%">
                      <div class="row g-0">
                        <div class="col-md-4 p-0">
                          {% if author.photo %}
                            <img src="{{ author.photo.url }}" class="card-img-top rounded" alt="..." style="height: 350px">
                          {% endif %}
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ author }}</h5>
                            <p class="card-text">{{ author.description|truncatewords:70 }}</p>
                            <p class="card-text"><small class="text-body-secondary">{{ author.country }}</small></p>
                          </div>
                          <div class="card-footer" style="background-color: white">
                              <a href="{{ author.get_absolute_url}}">
                                <div class="d-grid gap-2">
                                  <button class="btn btn-primary" type="button">Узнать больше!</button>
                                </div>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}

            {% if page_obj.has_other_pages %}
                <div class="row">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:-2 > 1 %}
                             <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                             <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                        {% endif %}
                        {% for p in paginator.page_range %}
                            {% if page_obj.number == p %}
                                <li class="page-item active"><a class="page-link" href="">{{ p }}</a></li>
                            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.number|add:2 < paginator.num_pages %}
                            <li class="page-item disabled"><a class="page-link" href="">...</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                      </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
</div>




{% endblock %}

