{% extends 'main/base.html' %}
{% load main_tags %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/show_book.css' %}">
{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 m-2 ps-5 pe-5 pt-4 pb-3 login_border ">
                <h2 class="text-center">Свяжитесь с нами!</h2>
                <hr>
                <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                    <div class="row justify-content-center m-3">
                        <div class="col-4">
                            <label class="form-input" for="{{ f.id_for_label }}">{{ f.label }}: </label>
                        </div>
                        <div class="col-8">
                            {{ f }}
                            {{ f.errors }}
                            <div class="form-error"></div>
                        </div>
                    </div>
                {% endfor %}
                <br>
                <div class="row justify-content-center m-t-2">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<br><br><br>




{% endblock %}

