.border {
    border: 4px double !important;
    box-shadow: 3px 2px 2px #b1b1b3cd;
}

.mysize {
    height: 500px;
    width: 400px;
}

.textbook {
    border: 2px solid #0736b5 !important;
    margin: 5px;
    border-radius: 20px;
    text-align: justify;
}

.bookimg {
    border: 4mm ridge #7e9dc4;
}

.params {
    font-size: 20px;
}

.login_border {
    border: 2px solid #0736b5 !important;
    border-radius: 20px;
    box-shadow: 6px 5px 5px #b1b1b3cd;
}